/* FORM DISPLAY -- CSS */
/* ============================== */


.form-display {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 600px;
    width: 600px;
}