/* FOOTER -- COMPONENT */
/* ============================== */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

footer > span {
    color: white;
}

footer > a { 
    color: white;
    text-decoration: none;
}

@media (min-width: 700px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}