/* POST FORM -- CSS */
/* ============================== */

.post-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.post-form > button {
    width: 400px;
}

.post-form-title {
    width: 400px;
}
.post-form-description {
    height: 110px;
    width: 400px;
}