/* POST FORM -- CSS */
/* ============================== */

.post-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.post-form > button {
    width: 400px;
}

.post-form-title {
    width: 400px;
}
.post-form-description {
    height: 6em;
    width: 400px;
}

.post-form > input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}