/* NAVBAR -- CSS */
/* ============================== */



nav {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

nav > a{
    color: black;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

nav > a:hover {
    background-color: lightskyblue;
    color: white
}

@media (min-width: 700px) {
    nav {
        align-self: flex-end;;
    }
}