/* FOOTER -- CSS */
/* ============================== */

footer {
    align-items: center;
    background-color: blueviolet;
    border-bottom: 9px double black;
    border-top: 9px double black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-links > a {
    background-color: blueviolet;
    color: white;
    font-size: 2em;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.footer-links > a:hover {
    background-color: lightskyblue;
}


@media (min-width: 1100px) {
    .footer-links {
        flex-direction: row;
        justify-content: space-between;
        margin: none;
        width: 80%;
    }
    
    .footer-links > a {
        padding-top: 9px;
        padding-bottom: 9px
    }
}

