/* SIDEBAR -- CSS */
/* ============================== */

aside {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside > a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    width: 250px;
}

aside > a:hover {
    color: gold;
    text-shadow: 1px 1px white;
}

@media (min-width: 700px) {
    aside {
        align-items: flex-start;
        display: flex;
        min-height: 1000px;
        width: 300px;
    }
}