/* COMMENT -- CSS */
/* ============================== */

.comment {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    
}

.comment > p {
    border: .5px solid lightgray;
    border-radius: 4px;
    padding: 4px;
    width: 100%
}

.comment > button {
    height: 1em;
}