.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
}