/* ITEM -- CSS */
/* ------------------------------ */
.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    margin: 24px;
    width: 400px;
}

.item > p {
    margin: 14px;
}

.item-image {
    background-position: center;
    background-repeat: cover;
    background-size: cover;
    height: 200px;
    margin: 20px;
    width: 200px;
}