* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "linkyfont";
    src: url("./fonts/verdemoderna.woff") format("woff");
}

.page-wrapper {
    border-top: solid 10px #264648;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.download {
    display: none;
}

.footerlink{
    text-decoration: none;
    color: 	#8FA1A5;
    font-size: 2em;
}

#github:hover {
    content: G;
}

.header {
    display: flex;
    content: "";
    background-image: url("contours@2x.png"), url("huntington.jpg");
    flex-direction: column;
    height: 250px;
    background-attachment: fixed, scroll;
    background-position: 0 0, 0 50%;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    justify-content: space-between;
    margin: 0;

}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: silver;
    font-style: italic;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    color: darkslategray;
}
.header1 {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
 
    height: 70px;
}
.enso {
    height: 60px;
    width: 60px;
    opacity: .7;
}
.intro {
    display: flex;
    flex-direction: column;
    
}
.parti {
    display: flex;
    flex-direction: column;
}
p {
    font-family: 'Libre Baskerville', serif;
    color: darkslategray
}


.reqs {
    display: flex;
    flex-direction: column;
}

.section { 
}

#subtitle {
    font-size: 1.1em;
    margin-left: 20px;
}

.subheader {
    color: white;
    font-size: 1.2em;
    z-index: 2;
    opacity: .7;
}

#titles {
    font-size: .9em;
    font-weight: 100;
}
.links {
    display: flex;
    flex-direction: row;
    font-family: "linkyfont";
    height: 125px;
    justify-content: center;
    background-color: #204146
}

.linkbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 254px;

}




@media (min-width: 500px) {
   .download {
       display: block;
   }
   
    .footerlink {
       font-size: 3em;
   }

   .header {
       height: 220px;
   }
    .linkbar {
        width: 450px;
    }


}

@media (min-width: 1132px) {
    .page-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .download {

    }
    .footer {
        order: 4;
    }
   .footerlink {
       font-size: 4.5em;
   }
    .header {
        background-image: url("contours@2x.png"), url("huntington.jpg");
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 100%
        background-attachment: fixed, scroll;
        background-position: 0 0, 0 50%;
        background-repeat: repeat, no-repeat;
        background-size: 50% auto, cover;
        order: 1;
    }
    .header1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 66%;
    }
    .header2 {
        display: flex;
        width: 30%;
    }

    .intro {
        display: flex;
    }
    .links {
        display: flex;
        flex-direction: row;
        height: 175px;
        justify-content: center;
    }
    .linkbar {
        display: flex; 
        flex-direction: row;
        width: 780px;
        height: 100%;
    }
    .main {
        order: 2;
        width: 66%;
    }
    .reqs {
        display: flex;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .sidebar {
        align-self: flex-end;
        order: 3;
        width: 34%;
        position: absolute;
        top: 310px;
    }
}


/* how do we show the huntington photo with only a section cut out */