* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "linkyfont";
    src: url("./fonts/verdemoderna.woff") format("woff");
}

.authorship {
    font-family: 'Libre Baskerville', serif;

}

.author {
    background: url("koi.jpg"), url("./contours@2x.png");
    height: 222px;
    font-size: 1.1em;
}
.author_text{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.first-thing {
    color: #7c9491;
    font-style: italic;
}
.second-thing {
    color: #ced4ca
}
#arrow {
    color: white;
    font-family: linkyfont;
    opacity: .8;
    position: absolute;
    top: 210px;
    margin-left: 90%;
}

.bamboo {
    background: url("./bamboo.png"), url("./contours@2x.png"), rgba(192, 218, 203, .8);
    background-repeat: repeat;
    background-attachment: scroll, fixed, fixed;
    background-size: cover, 40% auto, auto;
}
.by {
    font-size: 1em;
    margin-left: 15px;
    color: #c2cac4
}
.page-wrapper {
    border-top: solid 10px #264648;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.designs {
    height: 322px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #e7ede9
    
}
.design {
    border-bottom: 1px #dbe3dd solid;
    margin-bottom: 24x;
    margin-top: 23px;
    margin-left: 50px;
}
.design-author{
    color: #626758
}
.download {
    display: none;
}

.footerlink {
    text-decoration: none;
    color: #8FA1A5;
    font-size: 2em;
}

#github:hover {
    content: G;
}

.header {
    display: flex;
    content: "";
    background-image: url("contours@2x.png"), url("huntington.jpg");
    flex-direction: column;
    height: 250px;
    background-attachment: fixed, scroll;
    background-position: 0 0, 0 50%;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    justify-content: space-between;
    margin: 0;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: silver;
    font-style: italic;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3em;
    color: darkslategray;
    font-weight: 100;
    margin-top: 10px;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: darkslategray;
    margin-left: 15px;
}

.header1 {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header2 {}

.main {}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
    height: 70px;
    width: 100%;
}

.enso {
    height: 60px;
    width: 60px;
    opacity: .7;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}

.parti {
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Libre Baskerville', serif;
    color: rgb(68, 102, 102);
    font-size: .9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lil-header {
    margin-top: 30px;
}

.reqs {
    display: flex;
    flex-direction: column;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
}

#subtitle {
    font-size: 1.1em;
    margin-left: 20px;
}

.subheader {
    color: white;
    font-size: 1.2em;
    z-index: 2;
    opacity: .7;
}

.subsection {
    margin-bottom: 15px;
}
.site_map {
    background: url("./bamboo.png"), url("contours@2x.png"), rgba(192, 218, 203, .8);
    background-repeat: repeat;
    background-attachment: scroll, fixed, fixed;
    background-size: cover, 40% auto, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-map-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 190px;
}
.site-map-link{
    border-bottom: 1px #2a753d75 solid;
    font-size: 1.3em;
    width: 50%

}
.site-map-link > h4 {
    margin: 15px;
}
#titles {
    font-size: .9em;
    font-weight: 100;
}

.links {
    display: flex;
    flex-direction: row;
    font-family: "linkyfont";
    height: 125px;
    justify-content: center;
    background-color: #204146
}

.linkbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 254px;
}

@media (min-width: 500px) {
    #arrow {
        top: 180px;
        margin: left;
    }
    .download {
        display: block;
    }
    .footerlink {
        font-size: 3em;
    }
    .header {
        height: 220px;
    }
    .linkbar {
        width: 450px;
    }
}

@media (min-width: 770px) {
    .author {
        height: 177px;
    }
}

@media (min-width: 1132px) {
    .author {
        height: 320px;
    }
    .by{
        margin: 0
    }
    h3 {
        font-size: 1.8em;
        margin-top: 10px;
    }
    p {
        font-size: 1em;
        margin: 15px;
    }
    .header::after {
        content: "";
        background-color: darkslategray;
        opacity: .1;
        width: 35%;
        height: 2400px;
        position: absolute;
        top: 0px;
        left: 65%;
        z-index: 1;
    }
    .arrow-container {
        background-color: rgba(255, 255, 255, .2);
        width: 70px;
    }
    #arrow {
        position: absolute;
        left: 35px;
        top: 140px;
        width: 40px;
    }
    .page-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .designs {
        background: none;
        height: 900px;
        width: 320px;
    }
    .design {
        margin-bottom: 5px;
        width: 100%;
    }
    .design > p {
        margin-bottom: 5px;
    }
    .design-title {
        font-size: 1.1em;
        width: 90%;
        margin-bottom: 5px;
    }
    .design-author {
        margin-top: 0px;

    }
    .download {}
    .enso {
        height: 125px;
        width: 125px;
        opacity: .9;
        margin: 40px;
    }
    footer {
        order: 4;
        z-index: 3;
    }
    .footerlink {
        font-size: 4.5em;
    }
    .header {
        background-image: url("contours@2x.png"), url("huntington.jpg");
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 100%;
        background-attachment: fixed, scroll;
        background-position: 0 0, 0 50%;
        background-repeat: repeat, no-repeat;
        background-size: 40% auto, cover;
        order: 1;
        align-items: center;
        justify-content: space-between
    }
    .header1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 66%;
    }
    .header2 {
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .subtitle-container {
        display: flex;
        margin-left: 20%;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 50%;
    }
    .intro {
        display: flex;
    }
    .links {
        display: flex;
        flex-direction: row;
        height: 175px;
        justify-content: center;
    }
    .linkbar {
        display: flex;
        flex-direction: row;
        width: 780px;
        height: 100%;
    }
    .main {
        order: 2;
    }
    .reqs {
        display: flex;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .section {
        margin-left: 95px;
        margin-right: 95px;
        width: 54%;
    }
    .site_map {
        display: flex;
        flex-direction: column;
        background: none;
        position: absolute;
        top: 950px;
      
        justify-content: center;
        width: 100%;
    }
    .site-map-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        width: 80%;
    }
   .site-map-link {
       width: 70%;

   }
    .sidebar {
        align-self: flex-end;
        order: 3;
        width: 34%;
        position: absolute;
        top: 310px;
    }
    .subheader {
        font-weight: 100;
    }
    .subsection {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #subtitle {
        font-size: 1.5em;
        font-weight: 200;
        background-color: rgba(41, 51, 42, 0.1);
    }
    h1 {
        font-size: 3.3em;
        font-weight: 100;
        margin: 10px;
    }
    .lil-header {
        margin: 15px;
    }
    .intro {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
}

@media (min-width: 1158px) {
    .header::after {
        height: 2350px;
    }
}

@media (min-width: 1237px) {
    .site_map {
        top: 900px;
    }
}

@media (min-width: 1250px) {
    .header::after {
        height: 2300px;
    }
}

@media (min-width: 1300px) {
    .header::after {
        height: 2250px;
    }
}

@media (min-width: 1345px) {
    .site_map {
        top: 880px;
    }
}

@media (min-width: 1400px) {
    .header::after {
        height: 2150px;
    }
}

@media (min-width: 1490px) {
    .site_map {
        top: 800px;
    }
}

@media (min-width: 1500px) {
    .header::after {
        height: 2050px;
    }
}

@media (min-width: 1700px) {
    .header::after {
        height: 1950px;
    }
}

@media (min-width: 1815px) {
    .site_map {
        top: 740px;
    }
}


/* how do we show the huntington photo with only a section cut out */